* {
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 0, 0, 0.52);
}

.light-text {
  color: #ffffff;
}

img {
  border: 10px solid rgb(0, 0, 82);
  border-radius: 25px;
}
.spaced-out {
  padding: 20px;
}

#page-title{
  font-size: 48px;
  text-align: center;
}

.card{
     border: 5px solid red;
     padding: 35px;
}
.warning{
    background-color: red;
    color: rgb(22, 21, 21);
}

.img-style{
    border-radius: 40px;
    border: 4px dotted blue;

}
.text{
     border: 5px solid pink;
     padding: 35px;
}